@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}
.logo {
  padding: 0 5px;
  margin: 5px 5px;
  
}
.container {
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;

}
.left {
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: white;
}
.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 20px;
}
.nav-items div {
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.nav-items div :hover {
  transition: 0.8s;
  font-weight: bold;
  color: #ffc107;
}
a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.right {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.max-width-1 {
  max-width: 100vw;
}
.max-width-2 {
  max-width: 80vw;
}
.placeholder {
  border-radius: 4px;
  color: whitesmoke;
  background-color: black;
  border: 2px solid #ffc107;
}
.content {
  height: 100%;
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;
  
}
.content::after {
  content: "";
  width: 100%;
  height: inherit;
  background-image: url("images/bg.jpg");
  position: absolute;
  opacity: 0.15;
  border-radius: 15px;
  
}
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}
.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 355px;
  border: 2px solid black;
  border-radius: 200px;
}
.footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white ;
  
  font-weight: bold;
  padding: 4px;
  /* border-radius: 5px; */

}

.footer span{
  color:red;
  padding: 0 15px;
  
}
.home-articles {
  padding: 18px;
  margin-top: 23px;
  position: relative;
  height: 100%;
}


.home-article-content a {
  text-decoration: none;
  color: black;
}
.home-articles::after {
  content: "";
  width: 100%;
  height: inherit;
  background-image: url("images/bg.jpg");
  position: absolute;
  top: 0;
  opacity: 0.15;
  border-radius: 15px;
  z-index: -1;
}
 .home-article {
  display: flex;
  flex-direction: row;
  padding: 35px ;
  
  position: relative;
}

 h1{
  font-weight: bold;
}
.home-article-content h5{
  font-weight: 600;


}
.home-article img {
  width: 300px;
}
.home-article-content {
  align-self: center;
  font-weight: 600;
  padding : 12px 90px;
  
  
}

.my-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-left p{
  font-weight: 600;
}
